# Node modules (dépendances)
node_modules/

# Fichiers de build Angular
dist/
out-tsc/
.angular/

# Configuration IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d’environnement
.env
.env.*.local

# Systèmes d’exploitation
.DS_Store
Thumbs.db

# Cache
package-lock.json
.cache/
.angular/cache/
